.seat-current-live {
  /* margin-left: 70px;
  margin-right: 70px;
  justify-content: space-between; 양쪽 끝으로 요소들을 밀어냅니다 */
  /* width: 100%; 전체 너비를 사용합니다 */
  width: 100%;

  /* height: 100vh; */
}

.live-set {
  /* flex-basis: 70%; */
  display: flex; /* Flex 컨테이너 설정 */
  flex-direction: column; /* 요소들을 수직으로 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  justify-content: center;
  height: 60%;
  margin-bottom: 10px; /*원래 50*/
  /* background-color: #c1e5fa; */
}

.current-set {
  /* flex-basis: 30%; */
  display: flex; /* Flex 컨테이너 설정 */
  flex-direction: column; /* 요소들을 수직으로 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  /* justify-content: center; 수직 중앙 정렬 */
  height: 100%;
  /* background-color: #feebfe; */
}

.current-title {
  margin-top: 10px;
  margin-bottom: 10px; /*원래 70px*/
}

.live-title {
  /* width: 400px;
  height: 50px;
  margin-bottom: 50px;
  background-color: #c1e5fa;
  justify-content: center; /*양옆*/
  /* align-items: center; 위아래
  border-radius: 10px 10px 10px 10px;  */
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 600px;
  position: relative;
}
.live-title > div:nth-child(1) {
  position: absolute;
  left: 35%;
}
.live-title > div:nth-child(2) {
  position: absolute;
  right: 0;
}

.live-seat {
  /* background-color: #faf0d7; */
  display: flex;
  justify-content: center; /* 가로 방향 중앙 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  width: 100%;
}

.live-seat-color {
  background-color: #e8f3f1;
  width: 600px;
  height: 200px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: center; /* 가로 방향으로 중앙 정렬 */
  align-items: center; /* 세로 방향으로 중앙 정렬 */
  margin: auto; /* 이 부분은 상위 컨테이너에서도 중앙 정렬을 돕습니다 */
}

.current-seat {
  /* background-color: #faf0d7; */
  display: flex;
  justify-content: center; /* 가로 방향 중앙 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  width: 100%;
  margin: 10px;
}

.current-seat-color {
  background-color: #cde8e5;
  width: 1000px;
  height: 350px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.live-seat-color .screen2style {
  margin: auto;
  width: 146px;
  /* align-items: center; */
}
.live-seat-color .row {
  width: 240.8px;
  margin: auto;
}

.current-seat-color .screenstyle {
  margin: auto;
  width: 842px;
  /* align-items: center; */
}

.current-seat-color .row {
  width: 900px;
  margin: auto;
}

button.custom-button {
  background-color: gray;
  border-color: #ffff;
  /* 다른 스타일들 */
}
