.info-drawer {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 100px;
  width: 300px;
}

.profile {
  width: 170px;
}

.mypage img {
  width: 100px;
  height: 100px;
  border-radius: 50px 50px 50px 50px;
}

.name-selected {
  width: 170px;
  font-weight: bold;
}

.name-selected p {
  font-size: 0.9rem; /*상대 크기*/
}

.logout {
  margin-left: 30px;
}

.logout p {
  font-weight: bold;
}
