.navbar-expand {
  justify-content: inherit !important; /* Bootstrap의 기본 스타일을 덮어쓰기 */
}

/* 또는 필요한 스타일을 직접 적용 */
.navbar-expand-custom {
  justify-content: space-between !important; /* 원하는 스타일을 적용 */
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px; /* 네브바의 좌우 여백을 위해 추가 */
  /* background-color: #f8fcfe; */
  color: black;
}

.profile-img {
  /* margin-left: 20px; */
  width: 40px;
  height: 40px;
  border-radius: 20px 20px 20px 20px;
  margin-left: 20px;
}

nav.main-nav {
  background-color: #90a4ae;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}
