.adminNotice {
  margin: 3rem;
  font-family: "MangoDdobak-B" !important;
  background-color: #cde8e5;
  border-radius: 10px;
  padding: 3rem;
  min-width: 300px;
}

.title {
  margin-left: 1rem;
}
.formSelect {
  width: 10rem !important;
  margin: 1rem;
}

.form {
  display: flex;
  flex-direction: row;
}
