@font-face {
  font-family: "MangoDdobak-B";
  font-weight: normal;
  src: url("./fonts/MangoDdobak-B(ttf).ttf") format("truetype"); /* 상대 경로 사용 */
}

body {
  margin: 0;
  font-family: "MangoDdobak-B" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color:#ffff; */
}

code {
  font-family: "MangoDdobak-B";
}
.seat {
  cursor: pointer;
}
